/* screen - sceen-4 */

.border-0-8px-web-orange {
  border: 0.8px solid var(--web-orange);
}
.border-1px-black {
  border: 1px solid var(--black);
}
.border-3px-web-orange {
  border: 3px solid var(--web-orange);
}
.poppins-semi-bold-web-orange-11-9px {
  color: var(--web-orange);
  font-family: 'Poppins', Helvetica;
  font-size: 11.9px;
  font-style: normal;
  font-weight: 600;
}
.roboto-medium-black-11-9px {
  color: var(--black);
  font-family: 'Roboto', Helvetica;
  font-size: 11.9px;
  font-style: normal;
  font-weight: 500;
}
.roboto-medium-web-orange-11-9px {
  color: var(--web-orange);
  font-family: 'Roboto', Helvetica;
  font-size: 11.9px;
  font-style: normal;
  font-weight: 500;
}
.roboto-medium-web-orange-24px {
  color: var(--web-orange);
  font-family: 'Roboto', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.sceen-4 {
  background-color: var(--white);
  height: 702px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1280px;
}
.sceen-4 .back-to-map-b4HSh9 {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 81px;
}
.sceen-4 .btn-C61RwL {
  background-color: transparent;
  border-radius: 34.79305648803711px;
  height: 35px;
  left: 1066px;
  position: absolute;
  top: 919px;
  width: 107px;
}
.sceen-4 .btn-IxEfcF {
  background-color: transparent;
  border-radius: 34.79305648803711px;
  height: 35px;
  left: 469px;
  position: absolute;
  top: 0px;
  width: 82px;
}
.sceen-4 .c4392d634a0148f-7b2b0ad98293b-1-9wWKr1 {
  background-color: transparent;
  height: 33px;
  left: 696px;
  object-fit: cover;
  position: absolute;
  top: 76px;
  width: 33px;
}
.sceen-4 .collaboraction-go-dark-alpha-2-9wWKr1 {
  background-color: transparent;
  height: 30px;
  left: 548px;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 287px;
}
.sceen-4 .component-5-C61RwL {
  background-color: transparent;
  background-image: url(../img/rectangle-23@1x.svg);
  background-size: 100% 100%;
  height: 236px;
  left: -58px;
  position: absolute;
  top: 1022px;
  width: 1395px;
}
.sceen-4 .da7ef6dd1302486-7baebe4b364bc-1-9wWKr1 {
  background-color: transparent;
  height: 33px;
  left: 653px;
  object-fit: cover;
  position: absolute;
  top: 76px;
  width: 33px;
}
.sceen-4 .e0678ef25486466-ef6ad47b559e1-1-9wWKr1 {
  background-color: transparent;
  height: 33px;
  left: 609px;
  object-fit: cover;
  position: absolute;
  top: 76px;
  width: 33px;
}
.sceen-4 .e9bb463a1bc4434-3b81b1fe937f5-1-9wWKr1 {
  background-color: transparent;
  height: 33px;
  left: 740px;
  object-fit: cover;
  position: absolute;
  top: 76px;
  width: 33px;
}
.sceen-4 .ellipse-12-C61RwL {
  background-color: transparent;
  height: 30px;
  left: 696px;
  position: absolute;
  top: 470px;
  width: 30px;
}
.sceen-4 .ellipse-13-C61RwL {
  background-color: transparent;
  height: 30px;
  left: 496px;
  position: absolute;
  top: 553px;
  width: 30px;
}
.sceen-4 .ellipse-14-C61RwL {
  background-color: transparent;
  height: 30px;
  left: 624px;
  position: absolute;
  top: 607px;
  width: 30px;
}
.sceen-4 .ellipse-15-C61RwL {
  background-color: transparent;
  height: 30px;
  left: 481px;
  position: absolute;
  top: 251px;
  width: 30px;
}
.sceen-4 .ellipse-16-C61RwL {
  background-color: transparent;
  height: 30px;
  left: 654px;
  position: absolute;
  top: 385px;
  width: 30px;
}
.sceen-4 .ellipse-17-C61RwL {
  background-color: transparent;
  height: 30px;
  left: 496px;
  position: absolute;
  top: 842px;
  width: 30px;
}
.sceen-4 .ellipse-18-C61RwL {
  background-color: transparent;
  height: 30px;
  left: 717px;
  position: absolute;
  top: 718px;
  width: 30px;
}
.sceen-4 .ellipse-19-C61RwL {
  background-color: transparent;
  height: 30px;
  left: 243px;
  position: absolute;
  top: 905px;
  width: 30px;
}
.sceen-4 .ellipse-20-C61RwL {
  background-color: transparent;
  height: 30px;
  left: 61px;
  position: absolute;
  top: 316px;
  width: 30px;
}
.sceen-4 .ellipse-21-C61RwL {
  background-color: transparent;
  height: 30px;
  left: 310px;
  position: absolute;
  top: 370px;
  width: 30px;
}
.sceen-4 .ellipse-22-C61RwL {
  background-color: transparent;
  height: 30px;
  left: 76px;
  position: absolute;
  top: 703px;
  width: 30px;
}
.sceen-4 .ellipse-23-C61RwL {
  background-color: transparent;
  height: 30px;
  left: 597px;
  position: absolute;
  top: 733px;
  width: 30px;
}
.sceen-4 .ellipse-24-C61RwL {
  background-color: transparent;
  height: 30px;
  left: -64px;
  position: absolute;
  top: 506px;
  width: 30px;
}
.sceen-4 .ellipse-25-C61RwL {
  background-color: transparent;
  height: 30px;
  left: 597px;
  position: absolute;
  top: 506px;
  width: 30px;
}
.sceen-4 .fts-title-1-C61RwL {
  background-color: transparent;
  height: 59px;
  left: 27px;
  object-fit: cover;
  position: absolute;
  top: 32px;
  width: 178px;
}
.sceen-4 .know-more-y8olL9 {
  background-color: transparent;
  height: auto;
  left: 368px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0px;
  width: 63px;
}
.sceen-4 .location-lawndale-C61RwL {
  background-color: transparent;
  height: auto;
  left: 116px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 821px;
  width: 304px;
}
.sceen-4 .menus-IxEfcF {
  background-color: transparent;
  height: 14px;
  left: 0px;
  position: absolute;
  top: 11px;
  width: 429px;
}
.sceen-4 .rectangle-17-C61RwL {
  background-color: transparent;
  height: 117px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1280px;
}
.sceen-4 .rectangle-18-C61RwL {
  background-color: var(--web-orange);
  height: 13px;
  left: -1px;
  position: absolute;
  top: 101px;
  width: 1280px;
}
.sceen-4 .rectangle-19-C61RwL {
  background-color: transparent;
  height: 967px;
  left: 934px;
  position: absolute;
  top: 115px;
  width: 355px;
}
.sceen-4 .rectangle-20-C61RwL {
  background-color: var(--cod-gray);
  border-radius: 15px;
  height: 836px;
  left: 76px;
  position: absolute;
  top: 147px;
  width: 1132px;
}
.sceen-4 .rectangle-21-C61RwL {
  background-color: rgba(10,8,10,0.5);
  height: 926px;
  left: 0px;
  position: absolute;
  top: 116px;
  width: 1289px;
}
.sceen-4 .rectangle-24-9wWKr1 {
  background-color: var(--cod-gray);
  height: 236px;
  left: 47px;
  position: absolute;
  top: 0px;
  width: 1348px;
}
.sceen-4 .rectangle-27-C61RwL {
  background-color: transparent;
  height: 154px;
  left: 0px;
  position: absolute;
  top: 474px;
  width: 1284px;
}
.sceen-4 .rectangle-28-C61RwL {
  background-color: transparent;
  height: 27px;
  left: 178px;
  position: absolute;
  top: 863px;
  width: 109px;
}
.sceen-4 .rectangle-29-C61RwL {
  background-color: transparent;
  height: 48px;
  left: 1111px;
  position: absolute;
  top: 715px;
  width: 62px;
}
.sceen-4 .rectangle-33-C61RwL {
  background-color: transparent;
  height: 65px;
  left: 1201px;
  position: absolute;
  top: 637px;
  width: 79px;
}
.sceen-4 .rectangle-34-C61RwL {
  background-color: transparent;
  height: 53px;
  left: 1208px;
  position: absolute;
  top: 643px;
  width: 65px;
}
.sceen-4 .screen-shot-202-03-02-at-315-1-C61RwL {
  background-color: transparent;
  height: 1040px;
  left: -129px;
  object-fit: cover;
  position: absolute;
  top: 117px;
  width: 1280px;
}
.sceen-4 .screen-shot-202-03-02-at-328-2-C61RwL {
  background-color: transparent;
  height: 707px;
  left: -4px;
  object-fit: cover;
  position: absolute;
  top: -5px;
  width: 1288px;
}
.sceen-4 .screen-shot-202-03-02-at-832-1-C61RwL {
  background-color: transparent;
  height: 152px;
  left: -4px;
  object-fit: cover;
  position: absolute;
  top: 551px;
  width: 1288px;
}
.sceen-4 .share-my-story-y8olL9 {
  background-color: transparent;
  height: auto;
  left: 241px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0px;
  width: 83px;
}
.sceen-4 .span0-hE3P33 {
  color: rgba(255,168,0,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.sceen-4 .span1-hE3P33 {
  color: rgba(255,168,0,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  text-decoration: underline;
}
.sceen-4 .span2-hE3P33 {
  color: rgba(255,168,0,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.sceen-4 .span3-hE3P33 {
  color: rgba(255,168,0,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  text-decoration: underline;
}
.sceen-4 .span4-hE3P33 {
  color: rgba(255,168,0,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.sceen-4 .span5-hE3P33 {
  color: rgba(255,168,0,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  text-decoration: underline;
}
.sceen-4 .story-aria-mallare-C61RwL {
  background-color: transparent;
  height: auto;
  left: 116px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 779px;
  width: 205px;
}
.sceen-4 .story-list-y8olL9 {
  background-color: transparent;
  height: auto;
  left: 125px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0px;
  width: 72px;
}
.sceen-4 .story-map-y8olL9 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0px;
  width: 81px;
}
.sceen-4 .support-JYSY16 {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: 50px;
}
.sceen-4 .tags-animal-education-emotion-C61RwL {
  background-color: transparent;
  height: auto;
  left: 116px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  top: 862px;
  width: 361px;
}
.sceen-4 .topper-menu-C61RwL {
  background-color: transparent;
  height: 35px;
  left: 665px;
  position: absolute;
  top: 32px;
  width: 551px;
}
:root {
  --black: rgba(0,0,0,1.0);
  --cod-gray: rgba(10,8,10,1.0);
  --web-orange: rgba(255,168,0,1.0);
  --white: rgba(255,255,255,1.0);
}
