body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    height: 100%;
}

.wrapper {
    /*margin-left: auto;
    margin-right: auto;*/
    min-width: 100px;
    min-height: 100%;
}

/* TOP BAR */

.topbar {
    padding: 0;
    margin-right: 0;
    margin-left: 0;
    top: 0;
    width: 100%;
}

.topnav{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: black;
    overflow: hidden;
}

.topnav-logo-container {
    display: inline-block;
    flex-grow: 10;
    height: 65px;
    width: 196px;
    top: 17px;
    justify-content: left;
}

.topnav-logo {
    padding-left: 32px;
}

.topnav-links {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 482px;
}

.topnav-links ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.topnav-links li a {
    display: inline;
    list-style-type: none;
    padding: 12px;
    font-size: 12px;
    color: #FFA800;
    text-decoration: none;
}

.collaboraction-button {
    border-radius: 50px;
    border: 1px solid #FFA800;
}

.collaboraction-button:hover {
    border-radius: 50px;
    background-color: #111111;
}

/* TAG BAR */

.tagbar {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 90px;
    width: 100%;
    height: 40px;
    background-color: white;
    overflow: hidden;
}

.tagbar ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: auto;
    width: 92%;
    vertical-align: middle;
    text-align: center;
}

.tagbar li a {
    float: none;
    padding: 12px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    width: 8.3%;
}

.tagbar li a:hover {
    color: gray;
}

/* MAP */

*:focus {
    outline: none;
}

.content {
    position: fixed;
    top: 130px;
    bottom: 120px;
    left: 0;
    right: 0;
}

.mapboxgl-map {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
}

#map {
    position: absolute;
    /* top: 0;
    bottom: 0; */
    width: 100%;
}

.mapbox-improve-map {
    display: none;
}

.marker {
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

/* .mapboxgl-popup {
    max-width: 200px;
} */

.mapboxgl-popup{
    transform:none !important;
    position: absolute;
    top: 10%;
    left: 55%;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-center .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip{
    display:none !important;
}

.mapboxgl-popup-content {
    height: 282px;
    width: 510px;
    border: 5px solid #FFA800;
    border-radius: 15px;
    background-color: black;
    font-family: "Roboto", "Helvetica";
    font-size: 24px;
    font-weight: 500;
    left: 32px;
    color: #FFA800;
    line-height: 120%;
}

.story-container {
    position: absolute;
    top: 40px;
    left: 32px;
    height: auto;
}

.mapboxgl-pop-content div {
    display: block;
    position: absolute;
    height: auto;
    left: 32px;
    text-align: left;
    font-style: normal;
}

.mapboxgl-popup-content a {
    color: #FFA800;
}

.watch-button-container {
    position: absolute;
    top: 220px;
    width: 100%;
    text-align: center;
}

.watch-button-container a {
    display: inline-block;
    justify-content: center;
    border-radius: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0.8px solid #FFA800;
    text-decoration: none;
    font-size: 12px;
    font-family: "Poppins", "Helvectica";
}

.watch-button-container a:hover {
    border-radius: 50px;
    background-color: #111111;
}

.mapboxgl-popup-close-button {
    display: none;
}

/* BOTTOM BAR */

.botbar {
    border-top: 3px solid #FFA800;
    width: 100%;
    height: 120px;
    position: fixed;
    bottom: 0;
    overflow: hidden;
}

.collab-logo a {
    position: relative;
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 7.5px;
    justify-content: center;
}

.social ul {
    padding: 0;
    display: flex;
    margin: 0;
    padding-top: 7.5px;
    padding-bottom: 15px;
    justify-content: center;
    list-style-type: none;
}

.social li {
    float: none;
    padding-left: 5.25px;
    padding-right: 5.25px;
    padding-top: 0px;
    padding-bottom: 0px;
}

@media screen and (max-width: 500px) {
    .topnav a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }
}
