body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    -webkit-font-smoothing: antialiased;
    background-color: black;
}

.wrapper {
    /*margin-left: auto;
    margin-right: auto;*/
    min-width: 960px;
}

/* TOP BAR */

.topbar {
    position: fixed;
    width: 100%;
    top: 0;
}

.topnav{
    margin: auto;
    text-align: center;
    display: flex;
    width: 100%;
    height: 90px;
    background-color: black;
    overflow: auto;
}

.topnav-logo {
    display: inline-block;
    position: relative;
    text-align: left;
}

.topnav-links {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

.topnav-links ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.topnav-links li a {
    padding: 12px;
    font-size: 12px;
    color: #FFA800;
    text-decoration: none;
    text-align: center;
}

/* TAG BAR */

.tagbar {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: white;
    overflow: auto;
}

.tagbar ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: auto;
    vertical-align: middle;
    text-align: center;
}

.tagbar li a {
    float: none;
    padding: 12px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    width: 8.3%;
}

.tagbar li a:hover {
    color: gray;
}

/* MAP */

*:focus {
    outline: none;
}

.content {
    position: fixed;
    top: 130px;
    bottom: 120px;
    left: 0;
    right: 0;
}

.mapboxgl-map {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.mapbox-improve-map {
    display: none;
}

.marker {
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

/* .mapboxgl-popup {
    max-width: 200px;
} */

.mapboxgl-popup{
    transform:none !important;
    position: absolute;
    top: 10%;
    left: 55%;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-center .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip{
    display:none !important;
}

.mapboxgl-popup-content {
    text-align: center;
    height: 282px;
    border: 5px solid #FFA800;
    border-radius: 15px;
    background-color: black;
    width: 510px;
    color: #FFA800;
}

/* BOTTOM BAR */

.botbar {
    border-top: 3px solid #FFA800;
    width: 100%;
    height: 120px;
    position: fixed;
    bottom: 0;
    overflow: hidden;
}

.collab-logo a {
    position: relative;
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 7.5px;
    justify-content: center;
}

.social ul {
    padding: 0;
    display: flex;
    margin: 0;
    padding-top: 7.5px;
    padding-bottom: 15px;
    justify-content: center;
    list-style-type: none;
}

.social li {
    float: none;
    padding-left: 5.25px;
    padding-right: 5.25px;
    padding-top: 0px;
    padding-bottom: 0px;
}

@media screen and (max-width: 500px) {
    .topnav a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }
}
